<!DOCTYPE HTML>
<html>

	<head>
		<title>Question Paper Form</title>
		<style>
		h1{
			text-align:center;
			}
		#QPaperForm{
				text-align:center;	
				margin : 0 auto;
				padding :40px;
				border-style: solid;
				border-width: 10px;
				border-left-width: 70px;
				border-right-width: 70px;
				border-color: grey;
				
			}
			#QPaperForm *{
				font-size:23px;
				font-family : Serif;
				}
		
		</style>
	</head>
	
	<body>
	<h1>What Question Paper should I generate ?</h1>
	<div id="QPaperForm">
	<form method='GET' action="{{ actionURL }}">
		{% csrf_token %}
		<label>Generate</label> 
		
		<select size='1' name="SubjectID" title="Subject" >
		
		{% for sub in SubjectList  %}
			
			<option value="{{ sub.id }}" title="Department : {{ sub.department }}  Subject-Code: {{ sub.subject_code }}" >{{ sub.name }}</option>
		{% endfor %}
		</select>
		<label>Question paper for </label>
		<select size='1' name="ExamConfigurationID" title="Exam Name">
		{% for exam in ExamConfigs  %}
			<option value="{{ exam.id }}"
				title="units {% if exam.unit1 %} 1 {% endif %}{% if exam.unit2 %} 2 {% endif %}{% if exam.unit3 %} 3 {% endif %}{% if exam.unit4 %} 4 {% endif %}{% if exam.unit5 %} 5 {% endif %}"
			>{{ exam }}</option>
		{% endfor %}
		</select>
		<label>exam</label>
		<br>
		<button type="submit">Go !!</button>
	</form>
	</div>
	</body>

</html>
